.main{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    background-color: var(--cor-principal);
}

/*
    ====================
        NAV BAR II
    ====================*/
.nav2{
    display: flex;
    width: 256px;
    height: 828.5px;
}

.cabeçalho-nav{
    max-width: 256px;
    max-height: 88px;

    padding: 24px;

}

.titulo-nav{
    font-family: 'Inter';
    font-style: bold;
    font-size: 20px;
    font-weight: 700;
}

.stock{
    display: flex;
    gap: 10px;
    align-items: center;
}

/*
    ====================
        lADO DIREITO
    ====================*/
.direita{
    display: flex;


    width: 1024px;
    height: 1024px;
    background-color: var(--cor-principal);

}

.perfil{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 11.5px;

    width: 276.35px;
    height: 40px;




}

.sino-perfil{
    color: var(--cor-subtiulo);
    margin-right: 0;

}

.user-perfil{
    display: flex;

    justify-content: space-around;

    padding-left: 8px;
    gap: 12px;
    cursor: pointer;
}

.info-usuario {
    display: flex;
    flex-direction: column;
    text-align: right;
}


.nome-usuario{
    font-family: 'Inter';

    font-size: 14px;
    font-weight: 600;
}

.cargo-usuario{
    font-family: 'Inter';

    font-size: 12px;
    font-weight: 400;

    color: var(--cor-subtiulo);
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1024px;
    height: 64px;

    background-color: var(--cor-principal);

    border-color: var(--cor-barra);
    border-width: 1px;
}

.nav{
    display: flex;
    align-items: center;


    gap: 10px;

    width: 448px;
    height: 36px;

    margin-left: 32px;
    margin-top: 13.5px;
    margin-bottom: 13.5px;

    border-radius: 8px;

    background-color: var(--cor-secundaria);
}

.lupa-nav{
    color: var(--cor-texto-ultra-pequeno);

}

.barra-ereta{
    width: 1px;
    height: 32px;

    margin: 0 16px;

    background-color: var(--cor-barra);
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
}



.texto-nav{
    display: flex;
    align-items: center;

    font-family: 'Inter';
    font-size: 14px;

    color: var(--cor-subtiulo);
}

/*IMAGENS*/
.prof-pic{
    background-image: url(/Assets/User_profile.png);

    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-size: cover;
    background-position: center;

    margin-right: 32px;

}